@tailwind base;
@tailwind components;
@tailwind utilities;

.App {padding:20px;}

.DiaryItem {
  margin-bottom: 10px;
  padding:20px;
}

.DiaryItem .info {
  border-bottom: 1px solid gray;
  padding-bottom:10px;
  margin-bottom:10px;
}

.DiaryItem .date {
  color:gray;
}